body {
  background-color: rgba(0, 0, 0, 0.322);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  background-color: rgb(65, 65, 65);
  color: white;
  width: 107px;
  height: 60px;
  border-radius: 32px;
  border: none;
  margin: 1px;
  font-size: 2rem;
}
button:hover {
  background-color: rgba(65, 65, 65, 0.541);
}
input {
  border: white solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  width: 674px;
  padding: 0;
  height: 80px;
  background-color: rgb(46, 46, 46);
}
.Quadmerous button {
  width: 129.5px;
}
.Calculator {
  width: 680px;
}
.Buttons {
  border: white solid;
  background-color: rgb(19, 18, 18);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
